$font-stack: 'Palanquin', sans-serif;
$kite-blue: #0c1935;

html {
  font-family: $font-stack;
}

input, button, select, textarea {
  font-family: $font-stack;
}

.d-header {
  background-color: $kite-blue;
}