$font-stack: 'Palanquin', sans-serif;
$monospace-font-stack: 'Roboto Mono', monospace;
$kite-blue: #0c1935;
$header-gray: #999;

html {
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

input, button, select, textarea {
  font-family: $font-stack;
}

code, kbd, pre, samp {
  font-family: $monospace-font-stack;
}

.badge-notification {
  background-color: #bdbdbd;
  color: #fff;
  font-size: 11px;
  line-height: 1;
  padding: 4px 7px 6px 7px;
  text-align: center;
  vertical-align: top;
}

.hosted-dashboard .admin-controls h3 {
  margin-bottom: 0.6rem;
  margin-left: 1rem;
}

.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
  display: inline-block;
  height: 12px;
  line-height: 1;
  margin-right: 5px;
  width: 12px;
}

#suggested-topics .topic-statuses .topic-status i {
  font-size: 15px;
  margin-right: 6px;
  padding-top: 2px;
}

h1 .topic-statuses .topic-status i {
  font-size: 0.8em;
  margin-right: 0.5em;
  vertical-align: middle;
}

header.d-header {
  background-color: $kite-blue;

  .extra-info.two-rows h1 {
    line-height: 1.3em;
    margin: -0.25em 0 0 0;

    .extra-info-wrapper .topic-link {
      color: $header-gray;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .extra-info-wrapper .badge-wrapper.bullet span.badge-category {
    color: $header-gray;
  }
}
