$font-stack: 'Palanquin', sans-serif;
$kite-blue: #0c1935;

html {
  font-family: $font-stack;
}

input, button, select, textarea {
  font-family: $font-stack;
}

.d-header {
  background-color: $kite-blue;
}

.badge-notification {
  background-color: #bdbdbd;
  color: #fff;
  font-size: 11px;
  line-height: 1;
  padding: 4px 7px 6px 7px;
  text-align: center;
  vertical-align: top;
}